<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="	agency, ai, ai writer, app landing, creative, crm, html template, hosting, mobile app, multipurpose, payment, saas, software, support">
	<meta name="description" content="Piku stands out as a meticulously crafted SAAS template available in html5 versions, perfect for mobile apps, software, and SAAS websites.">
    <meta property="og:site_name" content="Homy">
    <meta property="og:url" content="https://creativegigstf.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Piku - Creative Saas & Software HTML5 Template">
	<meta name='og:image' content='images/assets/ogg.png'>
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#0D1A1C">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#0D1A1C">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#0D1A1C">
	<title>Piku - Creative Saas & Software HTML5 Template</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="static/images/fav-icon/icon.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" media="all">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="static/css/style.min.css" media="all">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="static/css/responsive.css" media="all">

	<!-- Fix Internet Explorer ______________________________________-->
	<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="static/vendor/html5shiv.js"></script>
			<script src="static/vendor/respond.js"></script>
		<![endif]-->
</head>

<body>
	<div class="main-page-wrapper">
		<!-- ===================================================
			Loading Transition
		==================================================== -->
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="icon"><img src="static/images/loader.svg" alt="" class="m-auto d-block"> <span></span></div>
				<div class="txt-loading">
					<span data-text-preloader="P" class="letters-loading">
						P
					</span>
					<span data-text-preloader="I" class="letters-loading">
						I
					</span>
					<span data-text-preloader="K" class="letters-loading">
						K
					</span>
					<span data-text-preloader="U" class="letters-loading">
						U
					</span>
				</div>
			</div>
		</div>


		
		<!-- 
		=============================================
			Theme Main Menu
		============================================== 
		-->
		<header class="theme-main-menu menu-style-two sticky-menu menu-overlay">
			<div class="inner-content gap-one">
				<div class="top-header position-relative">
					<div class="d-flex align-items-center justify-content-between">
						<div class="logo order-lg-0">
							<a href="index.html" class="d-flex align-items-center">
								<img src="static/images/logo/logo_02.svg" alt="">
							</a>
						</div>
						<!-- logo -->
                        <div class="order-lg-2 me-auto ms-xxl-5 ps-5 d-none d-md-inline-block">
                            <p class="m0 fs-20 font-manrope fw-500">Call <a href="#" class="fw-600 text-dark">+757 699-4478</a></p>
                        </div>
						<div class="right-widget ms-auto ms-lg-0 me-3 me-lg-0 order-lg-3">
							<ul class="d-flex align-items-center style-none">
								<li>
									<a href="login.html" class="login-btn-one fw-bold font-manrope tran3s"><i class="fa-regular fa-lock"></i> <span>Login</span></a>
                                </li>
								<li class="d-none d-md-inline-block ms-4">
                                    <a href="pricing-v1.html" class="btn-three">Free Trials</a>
                                </li>
							</ul>
						</div>
						<nav class="navbar navbar-expand-lg p0 order-lg-2 me-lg-auto">
							<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav align-items-lg-center">
									<li class="d-block d-lg-none"><div class="logo"><a href="index.html" class="d-block"><img src="static/images/logo/logo_02.svg" alt=""></a></div></li>
									<li class="nav-item dropdown mega-dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Home
										</a>
										<ul class="dropdown-menu">
											<li class="pe-3 ps-3">
												<div class="row gx-3">
													<div class="col-lg-3">
														<a href="index.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home01.jpg" alt="" class="w-100"></div>
															<span>Payment Service</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-2.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home02.jpg" alt="" class="w-100"></div>
															<span>AI Writer</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-3.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home03.jpg" alt="" class="w-100"></div>
															<span>Website Builder</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-4.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home04.jpg" alt="" class="w-100"></div>
															<span>CRM</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-5.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home05.jpg" alt="" class="w-100"></div>
															<span>Project Management </span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-6.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home06.jpg" alt="" class="w-100"></div>
															<span>Mobile App Landing</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-7.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home07.jpg" alt="" class="w-100"></div>
															<span>Digital Agency</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-8.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home08.jpg" alt="" class="w-100"></div>
															<span>Help Desk</span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-9.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home09.jpg" alt="" class="w-100"></div>
															<span>Web Hosting </span>
														</a>
													</div>
													<div class="col-lg-3">
														<a href="index-10.html" class="home-item w-100">
															<div class="img-item"><img src="static/images/menu/home10.jpg" alt="" class="w-100"></div>
															<span>Cyber Security</span>
														</a>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown mega-dropdown-sm">
							        	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Pages
										</a>
						                <ul class="dropdown-menu">
							                <li class="row gx-1">
												<div class="col-lg-4">
													<div class="menu-column">
														<h6 class="mega-menu-title">Essential</h6>
														<ul class="style-none mega-dropdown-list">
															<li><a href="about-us-v1.html" class="dropdown-item"><span>About Us-1</span></a></li>
															<li><a href="about-us-v2.html" class="dropdown-item"><span>About Us-2</span></a></li>
															<li><a href="about-us-v3.html" class="dropdown-item"><span>About Us-3</span></a></li>
															<li><a href="team-v1.html" class="dropdown-item"><span>Team-1</span></a></li>
															<li><a href="team-v2.html" class="dropdown-item"><span>Team-2</span></a></li>
															
														</ul>
													</div> <!--/.menu-column -->
												</div>
												<div class="col-lg-4">
													<div class="menu-column">
														<h6 class="mega-menu-title">Features</h6>
														<ul class="style-none mega-dropdown-list">
															<li><a href="service-v1.html" class="dropdown-item"><span>Service-1</span></a></li>
															<li><a href="service-v2.html" class="dropdown-item"><span>Service-2</span></a></li>
															<li><a href="service-v3.html" class="dropdown-item"><span>Service-3</span></a></li>
															<li><a href="service-details.html" class="dropdown-item"><span>Service Details</span></a></li>
															<li><a href="pricing-v1.html" class="dropdown-item"><span>Pricing-1</span></a></li>
															<li><a href="pricing-v2.html" class="dropdown-item"><span>Pricing-2</span></a></li>
															
														</ul>
													</div> <!--/.menu-column -->
												</div>
												<div class="col-lg-4">
													<div class="menu-column">
														<h6 class="mega-menu-title">Others</h6>
														<ul class="style-none mega-dropdown-list">
															<li><a href="faq-v1.html" class="dropdown-item"><span>FAQ-1</span></a></li>
															<li><a href="faq-v2.html" class="dropdown-item"><span>FAQ-2</span></a></li>
															<li><a href="login.html" class="dropdown-item"><span>Login</span></a></li>
															<li><a href="signup.html" class="dropdown-item"><span>Sign Up</span></a></li>
															<li><a href="404.html" class="dropdown-item"><span>404 Error</span></a></li>
														</ul>
													</div> <!--/.menu-column -->
												</div>
											</li>
						                </ul>
						            </li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Project
										</a>
										<ul class="dropdown-menu">
											<li><a href="project-v1.html" class="dropdown-item"><span>Project-1</span></a></li>
											<li><a href="project-v2.html" class="dropdown-item"><span>Project-2</span></a></li>
											<li><a href="project-v3.html" class="dropdown-item"><span>Project-3</span></a></li>
											<li><a href="project-v4.html" class="dropdown-item"><span>Project-4</span></a></li>
											<li><a href="project-v5.html" class="dropdown-item"><span>Project-5</span></a></li>
											<li><a href="project-v6.html" class="dropdown-item"><span>Project-6</span></a></li>
											<li><a href="project-details.html" class="dropdown-item"><span>Project Details</span></a></li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Blog
										</a>
										<ul class="dropdown-menu">
											<li><a href="blog-v1.html" class="dropdown-item"><span>Blog Full Width</span></a></li>
											<li><a href="blog-v2.html" class="dropdown-item"><span>Blog List</span></a></li>
											<li><a href="blog-v3.html" class="dropdown-item"><span>Blog 2 column</span></a></li>
											<li><a href="blog-details.html" class="dropdown-item"><span>Blog Details</span></a></li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Contact
										</a>
										<ul class="dropdown-menu">
											<li><a href="contact-v1.html" class="dropdown-item"><span>Contact Us-1</span></a></li>
											<li><a href="contact-v2.html" class="dropdown-item"><span>Contact Us-2</span></a></li>
										</ul>
									</li>
									<li class="d-md-none ps-3 pe-3 mt-20">
										<a href="pricing-v1.html" class="btn-three w-100">Free Trials</a>
									</li>
									<li class="d-md-none ps-3 pe-3 mt-20">
										<p class="m0 fs-20 font-manrope text-center fw-500">Call <a href="#" class="fw-600 text-dark">+757 699-4478</a></p>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div> <!--/.top-header-->
			</div> <!-- /.inner-content -->
		</header> 
		<!-- /.theme-main-menu -->



		<!--
		=====================================================
			Map Banner
		=====================================================
		-->
		<div class="map-banner-one mt-120 lg-mt-90">
            <div class="gmap_canvas h-100 w-100">
                <iframe class="gmap_iframe h-100 w-100" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=dhaka collage&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </div>



        <!--
		=====================================================
			Contact Section Three
		=====================================================
		-->
        <div class="contact-section-three position-relative z-1 mt-130 lg-mt-80 pb-180 lg-pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 m-auto">
                        <div class="title-two text-center mb-80 lg-mb-40">
							<h2>Any question? Send us message.</h2>
						</div>
                    </div>
                </div>

                <div class="row gx-xxl-5">
                    <div class="col-lg-7 d-flex">
                        <div class="form-style-two w-100">
                            <form action="inc/contact.php" id="contact-form" data-toggle="validator">
                                <div class="messages"></div>
                                <div class="row controls">
                                    <div class="col-12">
                                        <div class="input-group-meta form-group mb-30">
                                            <label for="">Name*</label>
                                            <input type="text" placeholder="Full Name*" name="name" required="required" data-error="Name is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group-meta form-group mb-30">
                                            <label for="">Email*</label>
                                            <input type="email" placeholder="Email Address*" name="email" required="required" data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group-meta form-group mb-35">
                                            <textarea placeholder="Write Message here.." name="message" required="required" data-error="Please,leave us a message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12"><button class="btn-three tran3s w-100">Send Message</button></div>
                                </div>
                            </form>
                        </div> <!-- /.form-style-two -->
                    </div>

                    <div class="col-lg-5 d-flex">
                        <div class="address-wrapper w-100 ms-xxl-5 mt-10 md-mt-60">
                            <div class="wrapper w-100 h-100">
                                <ul class="style-none">
                                    <li>
                                        <img src="static/images/icon/icon_97.svg" alt="">
                                        <h6>Our Address</h6>
                                        <p>1012 Pebda Parkway, Mirpur dhos Dhaka, Bangladesh</p>
                                    </li>
                                    <li>
                                        <img src="static/images/icon/icon_98.svg" alt="">
                                        <h6>Contact Info</h6>
                                        <p>Open a chat or give us call at <br> <a href="#">(880) 1789456710</a></p>
                                    </li>
                                    <li>
                                        <img src="static/images/icon/icon_99.svg" alt="">
                                        <h6>Live support</h6>
                                        <p>Urgent go to live chat portal <br> <a href="#">www.supportlive.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title-two text-center mb-60 lg-mb-20 mt-150 lg-mt-80">
                    <h2>Looking for Support?</h2>
                </div>

                <div class="row gx-xxl-5">
                    <div class="col-lg-6">
                        <div class="card-style-sixteen mt-35">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6>Support Center</h6>
                                <img src="static/images/icon/icon_100.svg" alt="">
                            </div>
                            <p class="fs-22">Explore varied resources for quick answers to common inquiries.</p>
                            <a href="#" class="d-flex align-items-center justify-content-between">Check it out <span class="icon"><i class="fa-light fa-arrow-up-right"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-style-sixteen mt-35">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6>Community</h6>
                                <img src="static/images/icon/icon_101.svg" alt="">
                            </div>
                            <p class="fs-22">Engage in our lively community, exchange experiences, and gain insights.</p>
                            <a href="#" class="d-flex align-items-center justify-content-between">Check it out <span class="icon"><i class="fa-light fa-arrow-up-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="static/images/shape/shape_92.svg" alt="" class="shapes shape_01">
        </div>
        <!-- /.contact-section-three -->



		
		<!--
		=====================================================
			Fancy Banner Two
		=====================================================
		-->
		<div class="fancy-banner-two pt-120 lg-pt-80 pb-150 xl-pb-120 lg-pb-80 position-relative z-1">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-7 m-auto text-center">
						<h2>700k+ Customers have our Piku. Try it Now!</h2>
						<a href="#" class="btn-six">Claim 10k Words</a>
					</div>
				</div>
			</div>
			<img src="static/images/shape/shape_20.svg" alt="" class="shapes shape_01">
			<img src="static/images/shape/shape_21.svg" alt="" class="shapes shape_02">
		</div>


	


		<!--
		=====================================================
			Footer Three
		=====================================================
		-->
		<div class="footer-three">
			<div class="container">
				<div class="position-relative">
					<div class="row">
						<div class="col-xxl-5 col-lg-4 me-auto">
							<div class="footer-intro mb-30 me-xxl-5 pe-xxl-4">
								<h3>Subscribe to our <span>newsletter.</span></h3>
								<form action="#" class="position-relative">
									<input type="email" placeholder="Your email address">
									<button class="tran3s"><img src="static/images/icon/icon_17.svg" alt="" class="me-auto"></button>
								</form>
							</div>
						</div>
						<div class="col-lg-2 col-6">
							<div class="footer-nav mb-40">
								<ul class="footer-nav-link style-none">
									<li><a href="about-us-v1.html">About </a></li>
									<li><a href="project-v2.html">Work Gallery</a></li>
									<li><a href="pricing-v2.html">Pricing</a></li>
									<li><a href="blog-v2.html">Blog</a></li>
									<li><a href="contact-v2.html">Contact</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-6">
							<div class="footer-nav mb-40">
								<ul class="footer-nav-link style-none">
									<li><a href="faq-v1.html">Faq’s</a></li>
									<li><a href="faq-v2.html">Privacy Policy</a></li>
									<li><a href="faq-v1.html">Terms</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xxl-2 col-lg-3">
							<div class="footer-contact mb-20">
								<p class="fw-500">210 Wallent Street, California, Main OC, USA</p>
								<a href="#" class="tel fw-500 tran3s">(+91) 0187 34 377</a>
								<ul class="style-none d-flex align-items-center social-icon">
									<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="container">
				<div class="bottom-footer">
					<div class="d-md-flex align-items-center justify-content-between">
						<div class="d-flex justify-content-center align-items-center sm-mb-20">
							<ul class="style-none d-flex justify-content-center">
								<li><a href="faq-v2.html">Demo .</a></li>
								<li><a href="faq-v2.html">Partners .</a></li>
								<li><a href="blog-v2.html">Careers</a></li>
							</ul>
						</div>
						<p class="copyright-text text-center m0"><span>@2024 Piku inc.</span> All Right Reserved</p>
					</div>
				</div>
			</div>
		</div> <!-- /.footer-three -->




		<button class="scroll-top">
			<i class="bi bi-arrow-up-short"></i>
		</button>




		<!-- Optional JavaScript _____________________________  -->

		<!-- jQuery first, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="static/vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="static/vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="static/vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="static/vendor/fancybox/fancybox.umd.js"></script>
		<!-- Lazy -->
		<script src="static/vendor/jquery.lazy.min.js"></script>
		<!-- js Counter -->
		<script src="static/vendor/jquery.counterup.min.js"></script>
		<script src="static/vendor/jquery.waypoints.min.js"></script>
		<!-- validator js -->
		<script src="static/vendor/validator.js"></script>

		<!-- Theme js -->
		<script src="static/js/theme.js"></script>
	</div> <!-- /.main-page-wrapper -->
</body>

</html>